# Ignore node_modules for the frontend
/frontend/node_modules

# Ignore Ruby-specific files for the backend
/backend/vendor/bundle
/backend/db/*.sqlite3
/backend/log/*.log
/backend/tmp/
/backend/.bundle
/backend/vendor
/backend/bin
/backend/storage
/backend/.byebug_history